*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ULTILITES CLASS */

body {
  background: black;
  color: white;
  font-size: 15px;
}
