:root {
  --text-color: #e5e4dc;
  --text-color-hover: #fff;
  --background-color: #1b2838;
  --button-color: #4c6b22;
  --button-color-hover: #a4d007;
  --primary-color: #c5c3c0;
  --secondary-color: #171a21;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow: hidden;
}

/*-------- ULTILITES CLASS --------*/

.flex {
  display: flex;
}

.fixed {
  position: fixed;
}
.visible {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none !important;
  color: var(--text-color);
  cursor: pointer;
}

p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}

/*---------- HEADER ---------- */
header {
  width: 100%;
  height: 70px;

  padding: 20px;

  background: var(--secondary-color);
  box-shadow: 0 2px 15px black;

  z-index: 100;
}

header .navbar {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

header .menu li {
  padding: 20px;
}

header .menu li a:hover {
  color: var(--text-color-hover);
}

header .logo img {
  width: 176px;
  aspect-ratio: auto 176 / 44;
  height: 44px;
}
header .logo:hover {
  filter: brightness(1.2);
}

header .avatar {
  font-size: 1.2rem;
  padding: 10px 14px;
  background-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 0 2px 15px 0 black;
}

header .avatar:hover {
  filter: brightness(1.2);
}

/*---------- MAIN ---------- */
.container {
  height: 100vh;
}
.container .col:first-child {
  min-width: 20vw;
}
.container .col:last-child {
  flex-grow: 1;
  overflow-y: scroll;
}
.container .col::-webkit-scrollbar {
  display: none;
}

.container .col {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*---------- SIDEBAR ---------- */

.sidebar {
  width: 100%;
  height: 100%;
  padding-top: 140px;
  background: var(--secondary-color);
  box-shadow: 0 0 20px 0 black;

  position: relative;
}

.sidebar .search-box {
  width: 100%;
  position: relative;
}

.sidebar .search-box input {
  display: block;
  width: 80%;
  padding: 10px;
  border-radius: 6px;

  color: white;
  font-size: 1.1rem;
  background: transparent;
  border: none;
  outline: none;

  position: relative;
}

.sidebar .search-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--primary-color);
}

.sidebar .search-box:hover::after {
  background-color: var(--text-color-hover);
  box-shadow: 0 0 10px 0 var(--text-color-hover);
}

.sidebar .search-box input:focus-visible,
.sidebar .search-box input:target {
  outline: none;
}
.sidebar .search-box .fa-solid {
  position: absolute;
  right: 12%;

  color: var(--primary-color);
  font-size: 1.2rem;
}

.sidebar .search-box:hover .fa-solid {
  color: var(--text-color-hover);
}

.sidebar .genres-menu {
  width: 100%;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
}
.sidebar .genres-menu li {
  width: 100%;
  padding: 20px 0;
  margin: 5px;
  text-align: center;

  position: relative;
  z-index: 10;

  cursor: pointer;
}
.sidebar .genres-menu li a {
  text-transform: uppercase;
  font-weight: 600;
}

.sidebar .genres-menu li:hover a {
  color: var(--text-color-hover);
}
.sidebar .genres-menu li.active::after,
.sidebar .genres-menu li:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(197, 195, 192, 0.3),
    transparent
  );

  box-shadow: 0 0 15px 0 black;
}

.sidebar .shrink-sidebar {
  position: absolute;
  bottom: 20px;
  right: 0;
  box-shadow: 0 0 2px 0 black;
  padding: 10px;
  cursor: pointer;
}
.sidebar .shrink-sidebar:hover {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(197, 195, 192, 0.3),
    transparent
  );
}

.sidebar .shrink-sidebar .fa-solid {
  font-size: 1.5rem;
}

/*---------- CAROUSEL ---------- */
.carousel {
  width: 90%;
  margin: 100px auto 20px auto;
  height: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  position: relative;
}
.carousel .item {
  height: 60vh;
}
.carousel .item img {
  height: 100%;
  width: 100%;
  filter: contrast(1.2);
}
.owl-dots,
.owl-nav {
  position: absolute;
}
.owl-nav {
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.owl-nav button span {
  display: inline-block;
  font-size: 4rem;
  padding: 15px 12px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px 0 black;
}
.owl-dots {
  bottom: 10px;
  right: 20px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: rgba(255, 255, 255, 0.5);
}

/*---------- TITLE ---------- */

.title {
  width: 90%;
  margin: 40px auto;
  position: relative;
}
.title h1 {
  font-size: 2rem;
}

.title h1::after {
  content: "";
  position: absolute;

  left: -15px;
  bottom: 0;
  height: 100%;
  width: 8px;
  background-color: rgba(255, 0, 0, 0.541);
}

.title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -15px;
  width: 100%;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
}

/*---------- CATEGORY ---------- */

.category {
  width: 95%;
  margin: 0 auto;
}
.category-list {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.category .category-list .item {
  width: calc(100% / 4);
  height: 350px;
  padding: 10px;
  background-color: var(--background-color);
}

.category-list .item a {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 100%;
  background-color: #1a2636;
  border: 2px solid black;
  overflow: hidden;
}
.category-list .item-header {
  height: 75%;
  box-shadow: 0 0 5px 0 black;
  position: relative;
  overflow: hidden;
}

.category-list .item .item-header .item-icon {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translateY(100%);

  width: 100%;
  height: 20%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);

  transition: all 0.2s ease-in;
}

.category-list .item:hover .item-header .item-icon {
  transform: translateY(0);
}

.category-list .item .item-header .item-icon .fa-brands {
  padding: 5px 10px;
  font-size: 1.5rem;
  line-height: 1;
}
.category-list .item-header .item-icon {
  padding: 5px;
}

.category-list .item-footer {
  padding: 5px 10px;
}
.category-list .item-header .item-cart {
  display: inline-block;
  position: absolute;
  top: 5%;
  right: 0;
  z-index: 10;

  width: 45px;

  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);

  transform: translateX(100%);
  transition: all 0.2s ease-in;
}

.category-list .item:hover .item-header .item-cart {
  transform: translateX(0);
}

.category-list .item-header .item-cart .fa-solid {
  font-size: 1.5rem;
}

.category-list .item-footer p {
  padding: 5px 0;
  font-size: 1.1rem;
}

.category-list .item-footer .item-price {
  text-align: right;
  font-weight: bold;
  color: white;
}

.category-list .item-footer .item-discount {
  padding: 0 5px;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}

.category-list .item a img {
  width: 100%;
  height: 100%;
}

.category-list .item:hover a img {
  filter: brightness(1.1);
}

.category-list .item a:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

/*---------- DETAIL ---------- */
